# Spark SQL

O Spark SQL é usado para acessar dados estruturados com Spark.

#### Acesse http://localhost:4040 sempre que quiser acompanhar a execução dos jobs. 
#### Pacotes adicionais podem ser encontrados aqui: https://spark-packages.org/ (usaremos um destes pacotes para conexão com o MongoDB).

## Spark SQL e RDD's

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row

import pyspark
from pyspark import SparkContext, SparkConf

conf = pyspark.SparkConf().setAppName('Inicial').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [2]:
print(sc)

<SparkContext master=local appName=Inicial>

In [3]:
# Spark Session - usada quando se trabalha com Dataframes no Spark
spSession = SparkSession.builder.master("local").appName("DSA-SparkSQL").config("spark.some.config.option", "some-value").getOrCreate()

In [4]:
# Criando o SQL Context para trabalhar com Spark SQL
sqlContext = SQLContext(sc)

In [5]:
# Importando o arquivo e criando um RDD
linhasRDD1 = sc.textFile("carros.csv")

In [6]:
linhasRDD1.count()

198

In [7]:
# Removendo a primeira linha - Transformação 1
linhasRDD2 = linhasRDD1.filter(lambda x: "FUELTYPE" not in x)

In [8]:
linhasRDD2.count()

197

In [9]:
# Dividindo o conjunto de dados em colunas - Transformação 2
linhasRDD3 = linhasRDD2.map(lambda line: line.split(","))

In [10]:
# Dividindo o conjunto de dados em colunas - Transformação 3
linhasRDD4 = linhasRDD3.map(lambda p: Row(make = p[0], body = p[4], hp = int(p[7])))

In [11]:
?Row

In [12]:
linhasRDD4.collect()

[Row(make='subaru', body='hatchback', hp=69),
 Row(make='chevrolet', body='hatchback', hp=48),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='honda', body='hatchback', hp=60),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='plymouth', body='hatchback', hp=68),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='plymouth', body='hatchback', hp=68),
 Row(make='chevrolet', body='hatchback', hp=70),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='dodge', body='hatchback', hp=68),
 Row(make='honda', body='hatchback', hp=58),
 Row(make='toyota', body='hatchback', hp=62),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='chevrolet', body='sedan', hp=70),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='mitsubishi', body='hatchback', hp=68),
 Row(make='dodge', body='sedan', hp=68),
 Row(make='plymouth', body='sedan', hp=68),
 Row(make='mazda', body='sedan', hp=68),
 Row(make='isuzu', body='sedan', hp=78),
 Row(make='mazda', body='hatchback', hp=68),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=88),
 Row(make='subaru', body='hatchback', hp=73),
 Row(make='nissan', body='sedan', hp=55),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='honda', body='hatchback', hp=76),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='honda', body='sedan', hp=76),
 Row(make='honda', body='wagon', hp=76),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='nissan', body='wagon', hp=69),
 Row(make='mazda', body='sedan', hp=68),
 Row(make='subaru', body='wagon', hp=82),
 Row(make='nissan', body='sedan', hp=69),
 Row(make='subaru', body='hatchback', hp=73),
 Row(make='dodge', body='sedan', hp=68),
 Row(make='plymouth', body='sedan', hp=68),
 Row(make='mitsubishi', body='hatchback', hp=102),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='volkswagen', body='sedan', hp=52),
 Row(make='toyota', body='hatchback', hp=56),
 Row(make='nissan', body='hatchback', hp=69),
 Row(make='honda', body='hatchback', hp=86),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='toyota', body='sedan', hp=56),
 Row(make='dodge', body='hatchback', hp=102),
 Row(make='plymouth', body='hatchback', hp=102),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='volkswagen', body='sedan', hp=52),
 Row(make='nissan', body='wagon', hp=69),
 Row(make='subaru', body='wagon', hp=82),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=88),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='nissan', body='hardtop', hp=69),
 Row(make='toyota', body='hatchback', hp=70),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mazda', body='sedan', hp=84),
 Row(make='volkswagen', body='sedan', hp=85),
 Row(make='mitsubishi', body='hatchback', hp=88),
 Row(make='toyota', body='wagon', hp=62),
 Row(make='honda', body='sedan', hp=86),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='dodge', body='wagon', hp=88),
 Row(make='plymouth', body='wagon', hp=88),
 Row(make='toyota', body='sedan', hp=92),
 Row(make='nissan', body='hatchback', hp=97),
 Row(make='honda', body='hatchback', hp=86),
 Row(make='subaru', body='sedan', hp=82),
 Row(make='toyota', body='sedan', hp=70),
 Row(make='mitsubishi', body='sedan', hp=116),
 Row(make='mitsubishi', body='sedan', hp=116),
 Row(make='toyota', body='sedan', hp=112),
 Row(make='volkswagen', body='sedan', hp=68),
 Row(make='toyota', body='hatchback', hp=112),
 Row(make='nissan', body='sedan', hp=97),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mitsubishi', body='hatchback', hp=116),
 Row(make='subaru', body='sedan', hp=94),
 Row(make='volkswagen', body='hatchback', hp=90),
 Row(make='toyota', body='hatchback', hp=92),
 Row(make='toyota', body='hatchback', hp=116),
 Row(make='volkswagen', body='sedan', hp=100),
 Row(make='subaru', body='wagon', hp=94),
 Row(make='mazda', body='sedan', hp=84),
 Row(make='honda', body='sedan', hp=86),
 Row(make='honda', body='sedan', hp=100),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='toyota', body='sedan', hp=73),
 Row(make='toyota', body='sedan', hp=92),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='isuzu', body='hatchback', hp=90),
 Row(make='toyota', body='hardtop', hp=116),
 Row(make='mazda', body='hatchback', hp=84),
 Row(make='toyota', body='hatchback', hp=92),
 Row(make='subaru', body='sedan', hp=111),
 Row(make='toyota', body='hatchback', hp=116),
 Row(make='volkswagen', body='convertible', hp=90),
 Row(make='subaru', body='wagon', hp=111),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='saab', body='hatchback', hp=110),
 Row(make='peugot', body='sedan', hp=97),
 Row(make='saab', body='sedan', hp=110),
 Row(make='volkswagen', body='wagon', hp=88),
 Row(make='peugot', body='wagon', hp=97),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='plymouth', body='hatchback', hp=145),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='honda', body='sedan', hp=101),
 Row(make='dodge', body='hatchback', hp=145),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='volkswagen', body='sedan', hp=110),
 Row(make='volvo', body='wagon', hp=114),
 Row(make='alfa-romero', body='convertible', hp=111),
 Row(make='nissan', body='sedan', hp=152),
 Row(make='nissan', body='sedan', hp=152),
 Row(make='mazda', body='hatchback', hp=101),
 Row(make='volkswagen', body='sedan', hp=68),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='audi', body='sedan', hp=102),
 Row(make='nissan', body='wagon', hp=152),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='mitsubishi', body='hatchback', hp=145),
 Row(make='saab', body='hatchback', hp=110),
 Row(make='audi', body='sedan', hp=110),
 Row(make='saab', body='sedan', hp=110),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='mazda', body='hatchback', hp=135),
 Row(make='toyota', body='sedan', hp=156),
 Row(make='toyota', body='wagon', hp=156),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='toyota', body='hatchback', hp=161),
 Row(make='bmw', body='sedan', hp=101),
 Row(make='alfa-romero', body='convertible', hp=111),
 Row(make='alfa-romero', body='hatchback', hp=154),
 Row(make='mercury', body='hatchback', hp=175),
 Row(make='volvo', body='wagon', hp=114),
 Row(make='toyota', body='hatchback', hp=161),
 Row(make='peugot', body='sedan', hp=97),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='bmw', body='sedan', hp=101),
 Row(make='peugot', body='wagon', hp=95),
 Row(make='nissan', body='hatchback', hp=160),
 Row(make='audi', body='sedan', hp=115),
 Row(make='toyota', body='convertible', hp=116),
 Row(make='audi', body='sedan', hp=110),
 Row(make='peugot', body='sedan', hp=95),
 Row(make='peugot', body='sedan', hp=142),
 Row(make='saab', body='hatchback', hp=160),
 Row(make='mazda', body='sedan', hp=120),
 Row(make='mazda', body='sedan', hp=72),
 Row(make='nissan', body='hatchback', hp=160),
 Row(make='volvo', body='sedan', hp=162),
 Row(make='saab', body='sedan', hp=160),
 Row(make='audi', body='wagon', hp=110),
 Row(make='volvo', body='wagon', hp=162),
 Row(make='volvo', body='sedan', hp=160),
 Row(make='nissan', body='hatchback', hp=200),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='volvo', body='sedan', hp=134),
 Row(make='porsche', body='hatchback', hp=143),
 Row(make='volvo', body='sedan', hp=106),
 Row(make='volvo', body='sedan', hp=114),
 Row(make='audi', body='sedan', hp=140),
 Row(make='bmw', body='sedan', hp=121),
 Row(make='mercedes-benz', body='sedan', hp=123),
 Row(make='mercedes-benz', body='hardtop', hp=123),
 Row(make='mercedes-benz', body='wagon', hp=123),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='mercedes-benz', body='sedan', hp=123),
 Row(make='jaguar', body='sedan', hp=176),
 Row(make='porsche', body='hardtop', hp=207),
 Row(make='porsche', body='hardtop', hp=207),
 Row(make='mercedes-benz', body='sedan', hp=155),
 Row(make='mercedes-benz', body='convertible', hp=155),
 Row(make='jaguar', body='sedan', hp=176),
 Row(make='jaguar', body='sedan', hp=262),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='porsche', body='convertible', hp=207),
 Row(make='mercedes-benz', body='sedan', hp=184),
 Row(make='bmw', body='sedan', hp=182),
 Row(make='mercedes-benz', body='hardtop', hp=184)]

In [13]:
# Criando um dataframe a partir do RDD
linhasDF = spSession.createDataFrame(linhasRDD4)

In [14]:
linhasDF.show()

+----------+---------+---+
|      make|     body| hp|
+----------+---------+---+
|    subaru|hatchback| 69|
| chevrolet|hatchback| 48|
|     mazda|hatchback| 68|
|    toyota|hatchback| 62|
|mitsubishi|hatchback| 68|
|     honda|hatchback| 60|
|    nissan|    sedan| 69|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
|     mazda|hatchback| 68|
|mitsubishi|hatchback| 68|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
| chevrolet|hatchback| 70|
|    toyota|hatchback| 62|
|     dodge|hatchback| 68|
|     honda|hatchback| 58|
|    toyota|hatchback| 62|
|     honda|hatchback| 76|
| chevrolet|    sedan| 70|
+----------+---------+---+
only showing top 20 rows

In [15]:
type(linhasDF)

pyspark.sql.dataframe.DataFrame

In [16]:
linhasDF.select("*").show()

+----------+---------+---+
|      make|     body| hp|
+----------+---------+---+
|    subaru|hatchback| 69|
| chevrolet|hatchback| 48|
|     mazda|hatchback| 68|
|    toyota|hatchback| 62|
|mitsubishi|hatchback| 68|
|     honda|hatchback| 60|
|    nissan|    sedan| 69|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
|     mazda|hatchback| 68|
|mitsubishi|hatchback| 68|
|     dodge|hatchback| 68|
|  plymouth|hatchback| 68|
| chevrolet|hatchback| 70|
|    toyota|hatchback| 62|
|     dodge|hatchback| 68|
|     honda|hatchback| 58|
|    toyota|hatchback| 62|
|     honda|hatchback| 76|
| chevrolet|    sedan| 70|
+----------+---------+---+
only showing top 20 rows

In [17]:
linhasDF.orderBy("make").show()

+-----------+-----------+---+
|       make|       body| hp|
+-----------+-----------+---+
|alfa-romero|  hatchback|154|
|alfa-romero|convertible|111|
|alfa-romero|convertible|111|
|       audi|      sedan|110|
|       audi|      sedan|115|
|       audi|      sedan|110|
|       audi|      wagon|110|
|       audi|      sedan|140|
|       audi|      sedan|102|
|        bmw|      sedan|121|
|        bmw|      sedan|101|
|        bmw|      sedan|121|
|        bmw|      sedan|121|
|        bmw|      sedan|182|
|        bmw|      sedan|101|
|        bmw|      sedan|182|
|        bmw|      sedan|182|
|  chevrolet|  hatchback| 48|
|  chevrolet|  hatchback| 70|
|  chevrolet|      sedan| 70|
+-----------+-----------+---+
only showing top 20 rows

In [18]:
# Registrando o dataframe como uma Temp Table
linhasDF.createOrReplaceTempView("linhasTB")

In [19]:
# Executando queries SQL ANSI
spSession.sql("select * from linhasTB where make = 'nissan'").show()

+------+---------+---+
|  make|     body| hp|
+------+---------+---+
|nissan|    sedan| 69|
|nissan|    sedan| 69|
|nissan|    sedan| 69|
|nissan|    sedan| 55|
|nissan|    sedan| 69|
|nissan|    wagon| 69|
|nissan|    sedan| 69|
|nissan|hatchback| 69|
|nissan|    wagon| 69|
|nissan|  hardtop| 69|
|nissan|hatchback| 97|
|nissan|    sedan| 97|
|nissan|    sedan|152|
|nissan|    sedan|152|
|nissan|    wagon|152|
|nissan|hatchback|160|
|nissan|hatchback|160|
|nissan|hatchback|200|
+------+---------+---+

In [20]:
# Executando queries SQL ANSI
spSession.sql("select make, body, avg(hp) from linhasTB group by make, body").show()

+-------------+-----------+-----------------+
|         make|       body|          avg(hp)|
+-------------+-----------+-----------------+
|       nissan|      wagon|96.66666666666667|
|       subaru|      sedan|             90.2|
|     plymouth|      sedan|             68.0|
|        dodge|  hatchback|             90.2|
|       nissan|      sedan|             89.0|
|        honda|      sedan|             89.8|
|   mitsubishi|  hatchback|            105.0|
|        mazda|      sedan|82.66666666666667|
|  alfa-romero|convertible|            111.0|
|mercedes-benz|convertible|            155.0|
|     plymouth|      wagon|             88.0|
|mercedes-benz|      wagon|            123.0|
|        isuzu|  hatchback|             90.0|
|       toyota|convertible|            116.0|
|        mazda|  hatchback|             89.4|
|    chevrolet|      sedan|             70.0|
|      mercury|  hatchback|            175.0|
|      porsche|  hatchback|            143.0|
|        honda|      wagon|             76.0|
|      porsche|convertible|            207.0|
+-------------+-----------+-----------------+
only showing top 20 rows

## Spark SQL e Arquivos CSV

In [21]:
carrosDF = spSession.read.csv("carros.csv", header = True)

In [22]:
type(carrosDF)

pyspark.sql.dataframe.DataFrame

In [23]:
carrosDF.show()

+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|      MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPG-CITY|MPG-HWY|PRICE|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|    subaru|     gas|   std|  two|hatchback|  fwd|     four| 69|4900|      31|     36| 5118|
| chevrolet|     gas|   std|  two|hatchback|  fwd|    three| 48|5100|      47|     53| 5151|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      30|     31| 5195|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      35|     39| 5348|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5389|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 60|5500|      38|     42| 5399|
|    nissan|     gas|   std|  two|    sedan|  fwd|     four| 69|5200|      31|     37| 5499|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5572|
|  plymouth|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      37|     41| 5572|
|     mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      31|     38| 6095|
|mitsubishi|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      31|     38| 6189|
|     dodge|     gas|   std| four|hatchback|  fwd|     four| 68|5500|      31|     38| 6229|
|  plymouth|     gas|   std| four|hatchback|  fwd|     four| 68|5500|      31|     38| 6229|
| chevrolet|     gas|   std|  two|hatchback|  fwd|     four| 70|5400|      38|     43| 6295|
|    toyota|     gas|   std|  two|hatchback|  fwd|     four| 62|4800|      31|     38| 6338|
|     dodge|     gas|   std|  two|hatchback|  fwd|     four| 68|5500|      31|     38| 6377|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 58|4800|      49|     54| 6479|
|    toyota|     gas|   std| four|hatchback|  fwd|     four| 62|4800|      31|     38| 6488|
|     honda|     gas|   std|  two|hatchback|  fwd|     four| 76|6000|      30|     34| 6529|
| chevrolet|     gas|   std| four|    sedan|  fwd|     four| 70|5400|      38|     43| 6575|
+----------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
only showing top 20 rows

In [24]:
# Registrando o dataframe como uma Temp Table
carrosDF.createOrReplaceTempView("carrosTB")

In [25]:
# Executando queries SQL ANSI
spSession.sql("select make, hp, price from carrosTB where CYLINDERS = 'three'").show()

+---------+---+-----+
|     make| hp|price|
+---------+---+-----+
|chevrolet| 48| 5151|
+---------+---+-----+

In [26]:
carrosTT = spSession.sql("select make, hp, price from carrosTB where CYLINDERS = 'three'")

In [27]:
carrosTT.show()

+---------+---+-----+
|     make| hp|price|
+---------+---+-----+
|chevrolet| 48| 5151|
+---------+---+-----+

## Aplicando Machine Learning

In [28]:
# Carregando o arquivo CSV e mantendo o objeto em cache
carros = sc.textFile("carros.csv")
carros.cache()

carros.csv MapPartitionsRDD[46] at textFile at <unknown>:0

In [29]:
# Remove a primeira linha (header)
primeiraLinha = carros.first()
linhas = carros.filter(lambda x: x != primeiraLinha)
linhas.count()

197

In [30]:
# Importando função row e função vectors
from pyspark.sql import Row
from pyspark.ml.linalg import Vectors
import math

In [31]:
# Convertendo para um vetor de linhas
def transformToNumeric( inputStr) :
    attList = inputStr.split(",")
    doors = 1.0 if attList[3] == "two" else 2.0
    body = 1.0 if attList[4] == "sedan" else 2.0 
       
    # Filtrando colunas não necessárias nesta etapa
    valores = Row(DOORS = doors, BODY = float(body), HP = float(attList[7]), RPM = float(attList[8]), MPG = float(attList[9]))
    return valores

In [32]:
autoMap = linhas.map(transformToNumeric)
autoMap.persist()
autoMap.collect()

[Row(DOORS=1.0, BODY=2.0, HP=69.0, RPM=4900.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=48.0, RPM=5100.0, MPG=47.0),
 Row(DOORS=1.0, BODY=2.0, HP=68.0, RPM=5000.0, MPG=30.0),
 Row(DOORS=1.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=35.0),
 Row(DOORS=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=37.0),
 Row(DOORS=1.0, BODY=2.0, HP=60.0, RPM=5500.0, MPG=38.0),
 Row(DOORS=1.0, BODY=1.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=37.0),
 Row(DOORS=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=37.0),
 Row(DOORS=1.0, BODY=2.0, HP=68.0, RPM=5000.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(DOORS=2.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(DOORS=2.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=70.0, RPM=5400.0, MPG=38.0),
 Row(DOORS=1.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=58.0, RPM=4800.0, MPG=49.0),
 Row(DOORS=2.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=76.0, RPM=6000.0, MPG=30.0),
 Row(DOORS=2.0, BODY=1.0, HP=70.0, RPM=5400.0, MPG=38.0),
 Row(DOORS=1.0, BODY=1.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(DOORS=2.0, BODY=1.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(DOORS=2.0, BODY=1.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(DOORS=2.0, BODY=1.0, HP=68.0, RPM=5000.0, MPG=31.0),
 Row(DOORS=2.0, BODY=1.0, HP=78.0, RPM=4800.0, MPG=24.0),
 Row(DOORS=1.0, BODY=2.0, HP=68.0, RPM=5000.0, MPG=31.0),
 Row(DOORS=2.0, BODY=1.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=76.0, RPM=6000.0, MPG=31.0),
 Row(DOORS=2.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=31.0),
 Row(DOORS=2.0, BODY=1.0, HP=70.0, RPM=4800.0, MPG=30.0),
 Row(DOORS=2.0, BODY=1.0, HP=88.0, RPM=5000.0, MPG=25.0),
 Row(DOORS=1.0, BODY=2.0, HP=73.0, RPM=4400.0, MPG=26.0),
 Row(DOORS=1.0, BODY=1.0, HP=55.0, RPM=4800.0, MPG=45.0),
 Row(DOORS=2.0, BODY=1.0, HP=82.0, RPM=4800.0, MPG=32.0),
 Row(DOORS=1.0, BODY=2.0, HP=76.0, RPM=6000.0, MPG=30.0),
 Row(DOORS=2.0, BODY=2.0, HP=70.0, RPM=4800.0, MPG=30.0),
 Row(DOORS=2.0, BODY=1.0, HP=76.0, RPM=6000.0, MPG=30.0),
 Row(DOORS=2.0, BODY=2.0, HP=76.0, RPM=6000.0, MPG=30.0),
 Row(DOORS=1.0, BODY=1.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(DOORS=2.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(DOORS=2.0, BODY=1.0, HP=68.0, RPM=5000.0, MPG=31.0),
 Row(DOORS=2.0, BODY=2.0, HP=82.0, RPM=4800.0, MPG=28.0),
 Row(DOORS=2.0, BODY=1.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=73.0, RPM=4400.0, MPG=26.0),
 Row(DOORS=2.0, BODY=1.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(DOORS=2.0, BODY=1.0, HP=68.0, RPM=5500.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=102.0, RPM=5500.0, MPG=24.0),
 Row(DOORS=2.0, BODY=1.0, HP=70.0, RPM=4800.0, MPG=38.0),
 Row(DOORS=2.0, BODY=1.0, HP=82.0, RPM=4400.0, MPG=28.0),
 Row(DOORS=1.0, BODY=1.0, HP=52.0, RPM=4800.0, MPG=37.0),
 Row(DOORS=2.0, BODY=2.0, HP=56.0, RPM=4500.0, MPG=38.0),
 Row(DOORS=1.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=86.0, RPM=5800.0, MPG=27.0),
 Row(DOORS=2.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=27.0),
 Row(DOORS=2.0, BODY=1.0, HP=56.0, RPM=4500.0, MPG=34.0),
 Row(DOORS=1.0, BODY=2.0, HP=102.0, RPM=5500.0, MPG=24.0),
 Row(DOORS=1.0, BODY=2.0, HP=102.0, RPM=5500.0, MPG=24.0),
 Row(DOORS=1.0, BODY=1.0, HP=85.0, RPM=5250.0, MPG=27.0),
 Row(DOORS=2.0, BODY=1.0, HP=52.0, RPM=4800.0, MPG=37.0),
 Row(DOORS=2.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(DOORS=2.0, BODY=2.0, HP=82.0, RPM=4800.0, MPG=23.0),
 Row(DOORS=1.0, BODY=1.0, HP=70.0, RPM=4800.0, MPG=29.0),
 Row(DOORS=2.0, BODY=1.0, HP=88.0, RPM=5000.0, MPG=25.0),
 Row(DOORS=2.0, BODY=1.0, HP=85.0, RPM=5250.0, MPG=27.0),
 Row(DOORS=1.0, BODY=2.0, HP=70.0, RPM=4800.0, MPG=29.0),
 Row(DOORS=1.0, BODY=2.0, HP=69.0, RPM=5200.0, MPG=31.0),
 Row(DOORS=2.0, BODY=2.0, HP=70.0, RPM=4800.0, MPG=28.0),
 Row(DOORS=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(DOORS=2.0, BODY=1.0, HP=84.0, RPM=4800.0, MPG=26.0),
 Row(DOORS=2.0, BODY=1.0, HP=85.0, RPM=5250.0, MPG=27.0),
 Row(DOORS=1.0, BODY=2.0, HP=88.0, RPM=5000.0, MPG=25.0),
 Row(DOORS=2.0, BODY=2.0, HP=62.0, RPM=4800.0, MPG=27.0),
 Row(DOORS=2.0, BODY=1.0, HP=86.0, RPM=5800.0, MPG=27.0),
 Row(DOORS=1.0, BODY=2.0, HP=84.0, RPM=4800.0, MPG=26.0),
 Row(DOORS=2.0, BODY=2.0, HP=88.0, RPM=5000.0, MPG=24.0),
 Row(DOORS=2.0, BODY=2.0, HP=88.0, RPM=5000.0, MPG=24.0),
 Row(DOORS=2.0, BODY=1.0, HP=92.0, RPM=4200.0, MPG=29.0),
 Row(DOORS=2.0, BODY=2.0, HP=97.0, RPM=5200.0, MPG=27.0),
 Row(DOORS=1.0, BODY=2.0, HP=86.0, RPM=5800.0, MPG=27.0),
 Row(DOORS=2.0, BODY=1.0, HP=82.0, RPM=4800.0, MPG=24.0),
 Row(DOORS=2.0, BODY=1.0, HP=70.0, RPM=4800.0, MPG=28.0),
 Row(DOORS=2.0, BODY=1.0, HP=116.0, RPM=5500.0, MPG=23.0),
 Row(DOORS=2.0, BODY=1.0, HP=116.0, RPM=5500.0, MPG=23.0),
 Row(DOORS=1.0, BODY=1.0, HP=112.0, RPM=6600.0, MPG=26.0),
 Row(DOORS=2.0, BODY=1.0, HP=68.0, RPM=4500.0, MPG=37.0),
 Row(DOORS=1.0, BODY=2.0, HP=112.0, RPM=6600.0, MPG=26.0),
 Row(DOORS=2.0, BODY=1.0, HP=97.0, RPM=5200.0, MPG=27.0),
 Row(DOORS=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(DOORS=1.0, BODY=2.0, HP=116.0, RPM=5500.0, MPG=23.0),
 Row(DOORS=2.0, BODY=1.0, HP=94.0, RPM=5200.0, MPG=26.0),
 Row(DOORS=1.0, BODY=2.0, HP=90.0, RPM=5500.0, MPG=24.0),
 Row(DOORS=2.0, BODY=2.0, HP=92.0, RPM=4200.0, MPG=27.0),
 Row(DOORS=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(DOORS=2.0, BODY=1.0, HP=100.0, RPM=5500.0, MPG=26.0),
 Row(DOORS=2.0, BODY=2.0, HP=94.0, RPM=5200.0, MPG=25.0),
 Row(DOORS=2.0, BODY=1.0, HP=84.0, RPM=4800.0, MPG=26.0),
 Row(DOORS=2.0, BODY=1.0, HP=86.0, RPM=5800.0, MPG=27.0),
 Row(DOORS=1.0, BODY=1.0, HP=100.0, RPM=5500.0, MPG=25.0),
 Row(DOORS=1.0, BODY=2.0, HP=84.0, RPM=4800.0, MPG=26.0),
 Row(DOORS=2.0, BODY=1.0, HP=73.0, RPM=4500.0, MPG=30.0),
 Row(DOORS=2.0, BODY=1.0, HP=92.0, RPM=4200.0, MPG=27.0),
 Row(DOORS=1.0, BODY=2.0, HP=101.0, RPM=6000.0, MPG=17.0),
 Row(DOORS=1.0, BODY=2.0, HP=90.0, RPM=5000.0, MPG=24.0),
 Row(DOORS=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(DOORS=2.0, BODY=2.0, HP=84.0, RPM=4800.0, MPG=26.0),
 Row(DOORS=2.0, BODY=2.0, HP=92.0, RPM=4200.0, MPG=27.0),
 Row(DOORS=2.0, BODY=1.0, HP=111.0, RPM=4800.0, MPG=24.0),
 Row(DOORS=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(DOORS=1.0, BODY=2.0, HP=90.0, RPM=5500.0, MPG=24.0),
 Row(DOORS=2.0, BODY=2.0, HP=111.0, RPM=4800.0, MPG=23.0),
 Row(DOORS=1.0, BODY=2.0, HP=101.0, RPM=6000.0, MPG=17.0),
 Row(DOORS=1.0, BODY=2.0, HP=110.0, RPM=5250.0, MPG=21.0),
 Row(DOORS=2.0, BODY=1.0, HP=97.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=110.0, RPM=5250.0, MPG=21.0),
 Row(DOORS=2.0, BODY=2.0, HP=88.0, RPM=5500.0, MPG=25.0),
 Row(DOORS=2.0, BODY=2.0, HP=97.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=1.0, BODY=2.0, HP=145.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=1.0, BODY=2.0, HP=145.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=114.0, RPM=5400.0, MPG=23.0),
 Row(DOORS=2.0, BODY=1.0, HP=101.0, RPM=5800.0, MPG=24.0),
 Row(DOORS=1.0, BODY=2.0, HP=145.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=95.0, RPM=4150.0, MPG=28.0),
 Row(DOORS=2.0, BODY=1.0, HP=110.0, RPM=5500.0, MPG=19.0),
 Row(DOORS=2.0, BODY=2.0, HP=114.0, RPM=5400.0, MPG=23.0),
 Row(DOORS=1.0, BODY=2.0, HP=111.0, RPM=5000.0, MPG=21.0),
 Row(DOORS=2.0, BODY=1.0, HP=152.0, RPM=5200.0, MPG=17.0),
 Row(DOORS=2.0, BODY=1.0, HP=152.0, RPM=5200.0, MPG=19.0),
 Row(DOORS=1.0, BODY=2.0, HP=101.0, RPM=6000.0, MPG=17.0),
 Row(DOORS=2.0, BODY=1.0, HP=68.0, RPM=4500.0, MPG=33.0),
 Row(DOORS=2.0, BODY=2.0, HP=95.0, RPM=4150.0, MPG=25.0),
 Row(DOORS=2.0, BODY=1.0, HP=102.0, RPM=5500.0, MPG=24.0),
 Row(DOORS=2.0, BODY=2.0, HP=152.0, RPM=5200.0, MPG=17.0),
 Row(DOORS=1.0, BODY=2.0, HP=145.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=1.0, BODY=2.0, HP=145.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=1.0, BODY=2.0, HP=110.0, RPM=5250.0, MPG=21.0),
 Row(DOORS=1.0, BODY=1.0, HP=110.0, RPM=5500.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=110.0, RPM=5250.0, MPG=21.0),
 Row(DOORS=2.0, BODY=1.0, HP=95.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=1.0, BODY=2.0, HP=135.0, RPM=6000.0, MPG=16.0),
 Row(DOORS=2.0, BODY=1.0, HP=156.0, RPM=5200.0, MPG=20.0),
 Row(DOORS=2.0, BODY=2.0, HP=156.0, RPM=5200.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=114.0, RPM=5400.0, MPG=24.0),
 Row(DOORS=1.0, BODY=2.0, HP=161.0, RPM=5200.0, MPG=19.0),
 Row(DOORS=1.0, BODY=1.0, HP=101.0, RPM=5800.0, MPG=23.0),
 Row(DOORS=1.0, BODY=2.0, HP=111.0, RPM=5000.0, MPG=21.0),
 Row(DOORS=1.0, BODY=2.0, HP=154.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=1.0, BODY=2.0, HP=175.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=2.0, BODY=2.0, HP=114.0, RPM=5400.0, MPG=24.0),
 Row(DOORS=1.0, BODY=2.0, HP=161.0, RPM=5200.0, MPG=20.0),
 Row(DOORS=2.0, BODY=1.0, HP=97.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=2.0, BODY=2.0, HP=95.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=114.0, RPM=5400.0, MPG=23.0),
 Row(DOORS=2.0, BODY=1.0, HP=95.0, RPM=4150.0, MPG=28.0),
 Row(DOORS=2.0, BODY=1.0, HP=101.0, RPM=5800.0, MPG=23.0),
 Row(DOORS=2.0, BODY=2.0, HP=95.0, RPM=4150.0, MPG=25.0),
 Row(DOORS=1.0, BODY=2.0, HP=160.0, RPM=5200.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=115.0, RPM=5500.0, MPG=18.0),
 Row(DOORS=1.0, BODY=2.0, HP=116.0, RPM=4800.0, MPG=24.0),
 Row(DOORS=2.0, BODY=1.0, HP=110.0, RPM=5500.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=95.0, RPM=4150.0, MPG=28.0),
 Row(DOORS=2.0, BODY=1.0, HP=142.0, RPM=5600.0, MPG=18.0),
 Row(DOORS=1.0, BODY=2.0, HP=160.0, RPM=5500.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=120.0, RPM=5000.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=72.0, RPM=4200.0, MPG=31.0),
 Row(DOORS=1.0, BODY=2.0, HP=160.0, RPM=5200.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=162.0, RPM=5100.0, MPG=17.0),
 Row(DOORS=2.0, BODY=1.0, HP=160.0, RPM=5500.0, MPG=19.0),
 Row(DOORS=2.0, BODY=2.0, HP=110.0, RPM=5500.0, MPG=19.0),
 Row(DOORS=2.0, BODY=2.0, HP=162.0, RPM=5100.0, MPG=17.0),
 Row(DOORS=2.0, BODY=1.0, HP=160.0, RPM=5300.0, MPG=19.0),
 Row(DOORS=1.0, BODY=2.0, HP=200.0, RPM=5200.0, MPG=17.0),
 Row(DOORS=1.0, BODY=1.0, HP=121.0, RPM=4250.0, MPG=21.0),
 Row(DOORS=2.0, BODY=1.0, HP=121.0, RPM=4250.0, MPG=21.0),
 Row(DOORS=2.0, BODY=1.0, HP=134.0, RPM=5500.0, MPG=18.0),
 Row(DOORS=1.0, BODY=2.0, HP=143.0, RPM=5500.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=106.0, RPM=4800.0, MPG=26.0),
 Row(DOORS=2.0, BODY=1.0, HP=114.0, RPM=5400.0, MPG=19.0),
 Row(DOORS=2.0, BODY=1.0, HP=140.0, RPM=5500.0, MPG=17.0),
 Row(DOORS=2.0, BODY=1.0, HP=121.0, RPM=4250.0, MPG=20.0),
 Row(DOORS=2.0, BODY=1.0, HP=123.0, RPM=4350.0, MPG=22.0),
 Row(DOORS=1.0, BODY=2.0, HP=123.0, RPM=4350.0, MPG=22.0),
 Row(DOORS=2.0, BODY=2.0, HP=123.0, RPM=4350.0, MPG=22.0),
 Row(DOORS=2.0, BODY=1.0, HP=182.0, RPM=5400.0, MPG=16.0),
 Row(DOORS=2.0, BODY=1.0, HP=123.0, RPM=4350.0, MPG=22.0),
 Row(DOORS=2.0, BODY=1.0, HP=176.0, RPM=4750.0, MPG=15.0),
 Row(DOORS=1.0, BODY=2.0, HP=207.0, RPM=5900.0, MPG=17.0),
 Row(DOORS=1.0, BODY=2.0, HP=207.0, RPM=5900.0, MPG=17.0),
 Row(DOORS=2.0, BODY=1.0, HP=155.0, RPM=4750.0, MPG=16.0),
 Row(DOORS=1.0, BODY=2.0, HP=155.0, RPM=4750.0, MPG=16.0),
 Row(DOORS=2.0, BODY=1.0, HP=176.0, RPM=4750.0, MPG=15.0),
 Row(DOORS=1.0, BODY=1.0, HP=262.0, RPM=5000.0, MPG=13.0),
 Row(DOORS=2.0, BODY=1.0, HP=182.0, RPM=5400.0, MPG=15.0),
 Row(DOORS=1.0, BODY=2.0, HP=207.0, RPM=5900.0, MPG=17.0),
 Row(DOORS=2.0, BODY=1.0, HP=184.0, RPM=4500.0, MPG=14.0),
 Row(DOORS=1.0, BODY=1.0, HP=182.0, RPM=5400.0, MPG=16.0),
 Row(DOORS=1.0, BODY=2.0, HP=184.0, RPM=4500.0, MPG=14.0)]

In [33]:
# Criando o Dataframe
carrosDf = spSession.createDataFrame(autoMap)
carrosDf.show()

+-----+----+----+------+----+
|DOORS|BODY|  HP|   RPM| MPG|
+-----+----+----+------+----+
|  1.0| 2.0|69.0|4900.0|31.0|
|  1.0| 2.0|48.0|5100.0|47.0|
|  1.0| 2.0|68.0|5000.0|30.0|
|  1.0| 2.0|62.0|4800.0|35.0|
|  1.0| 2.0|68.0|5500.0|37.0|
|  1.0| 2.0|60.0|5500.0|38.0|
|  1.0| 1.0|69.0|5200.0|31.0|
|  1.0| 2.0|68.0|5500.0|37.0|
|  1.0| 2.0|68.0|5500.0|37.0|
|  1.0| 2.0|68.0|5000.0|31.0|
|  1.0| 2.0|68.0|5500.0|31.0|
|  2.0| 2.0|68.0|5500.0|31.0|
|  2.0| 2.0|68.0|5500.0|31.0|
|  1.0| 2.0|70.0|5400.0|38.0|
|  1.0| 2.0|62.0|4800.0|31.0|
|  1.0| 2.0|68.0|5500.0|31.0|
|  1.0| 2.0|58.0|4800.0|49.0|
|  2.0| 2.0|62.0|4800.0|31.0|
|  1.0| 2.0|76.0|6000.0|30.0|
|  2.0| 1.0|70.0|5400.0|38.0|
+-----+----+----+------+----+
only showing top 20 rows

In [34]:
# Aplicando técnicas de normalização e escala
summStats = carrosDf.describe().toPandas()
medias = summStats.iloc[1,1:5].values.tolist()
desvios_padroes = summStats.iloc[2,1:5].values.tolist()

In [35]:
# Inserindo a média e o desvio padrão em uma variável do tipo broadcast 
bcMedias = sc.broadcast(medias)
bcDesviosP = sc.broadcast(desvios_padroes)

In [36]:
def centerAndScale(inRow) :
    global bcMedias
    global bcDesviosP
    
    meanArray = bcMedias.value
    stdArray = bcDesviosP.value

    retArray = []
    for i in range(len(meanArray)):
        retArray.append( (float(inRow[i]) - float(meanArray[i])) / float(stdArray[i]) )
    return Vectors.dense(retArray)

In [37]:
csAuto = carrosDf.rdd.map(centerAndScale)
csAuto.collect()

[DenseVector([-1.145, 0.9337, -0.9194, -0.4532]),
 DenseVector([-1.145, 0.9337, -1.4773, -0.0375]),
 DenseVector([-1.145, 0.9337, -0.9459, -0.2453]),
 DenseVector([-1.145, 0.9337, -1.1053, -0.6611]),
 DenseVector([-1.145, 0.9337, -0.9459, 0.7941]),
 DenseVector([-1.145, 0.9337, -1.1585, 0.7941]),
 DenseVector([-1.145, -1.0656, -0.9194, 0.1704]),
 DenseVector([-1.145, 0.9337, -0.9459, 0.7941]),
 DenseVector([-1.145, 0.9337, -0.9459, 0.7941]),
 DenseVector([-1.145, 0.9337, -0.9459, -0.2453]),
 DenseVector([-1.145, 0.9337, -0.9459, 0.7941]),
 DenseVector([0.869, 0.9337, -0.9459, 0.7941]),
 DenseVector([0.869, 0.9337, -0.9459, 0.7941]),
 DenseVector([-1.145, 0.9337, -0.8928, 0.5862]),
 DenseVector([-1.145, 0.9337, -1.1053, -0.6611]),
 DenseVector([-1.145, 0.9337, -0.9459, 0.7941]),
 DenseVector([-1.145, 0.9337, -1.2116, -0.6611]),
 DenseVector([0.869, 0.9337, -1.1053, -0.6611]),
 DenseVector([-1.145, 0.9337, -0.7334, 1.8335]),
 DenseVector([0.869, -1.0656, -0.8928, 0.5862]),
 DenseVector([-1.145, -1.0656, -0.9194, 0.1704]),
 DenseVector([-1.145, 0.9337, -0.9459, 0.7941]),
 DenseVector([0.869, -1.0656, -0.9459, 0.7941]),
 DenseVector([0.869, -1.0656, -0.9459, 0.7941]),
 DenseVector([0.869, -1.0656, -0.9459, -0.2453]),
 DenseVector([0.869, -1.0656, -0.6802, -0.6611]),
 DenseVector([-1.145, 0.9337, -0.9459, -0.2453]),
 DenseVector([0.869, -1.0656, -0.9194, 0.1704]),
 DenseVector([-1.145, 0.9337, -0.7334, 1.8335]),
 DenseVector([0.869, 0.9337, -1.1053, -0.6611]),
 DenseVector([0.869, -1.0656, -0.8928, -0.6611]),
 DenseVector([0.869, -1.0656, -0.4146, -0.2453]),
 DenseVector([-1.145, 0.9337, -0.8131, -1.4927]),
 DenseVector([-1.145, -1.0656, -1.2913, -0.6611]),
 DenseVector([0.869, -1.0656, -0.574, -0.6611]),
 DenseVector([-1.145, 0.9337, -0.7334, 1.8335]),
 DenseVector([0.869, 0.9337, -0.8928, -0.6611]),
 DenseVector([0.869, -1.0656, -0.7334, 1.8335]),
 DenseVector([0.869, 0.9337, -0.7334, 1.8335]),
 DenseVector([-1.145, -1.0656, -0.9194, 0.1704]),
 DenseVector([0.869, 0.9337, -0.9194, 0.1704]),
 DenseVector([0.869, -1.0656, -0.9459, -0.2453]),
 DenseVector([0.869, 0.9337, -0.574, -0.6611]),
 DenseVector([0.869, -1.0656, -0.9194, 0.1704]),
 DenseVector([-1.145, 0.9337, -0.8131, -1.4927]),
 DenseVector([0.869, -1.0656, -0.9459, 0.7941]),
 DenseVector([0.869, -1.0656, -0.9459, 0.7941]),
 DenseVector([-1.145, 0.9337, -0.0426, 0.7941]),
 DenseVector([0.869, -1.0656, -0.8928, -0.6611]),
 DenseVector([0.869, -1.0656, -0.574, -1.4927]),
 DenseVector([-1.145, -1.0656, -1.371, -0.6611]),
 DenseVector([0.869, 0.9337, -1.2647, -1.2848]),
 DenseVector([-1.145, 0.9337, -0.9194, 0.1704]),
 DenseVector([-1.145, 0.9337, -0.4677, 1.4177]),
 DenseVector([0.869, 0.9337, -1.1053, -0.6611]),
 DenseVector([0.869, -1.0656, -1.2647, -1.2848]),
 DenseVector([-1.145, 0.9337, -0.0426, 0.7941]),
 DenseVector([-1.145, 0.9337, -0.0426, 0.7941]),
 DenseVector([-1.145, -1.0656, -0.4943, 0.2744]),
 DenseVector([0.869, -1.0656, -1.371, -0.6611]),
 DenseVector([0.869, 0.9337, -0.9194, 0.1704]),
 DenseVector([0.869, 0.9337, -0.574, -0.6611]),
 DenseVector([-1.145, -1.0656, -0.8928, -0.6611]),
 DenseVector([0.869, -1.0656, -0.4146, -0.2453]),
 DenseVector([0.869, -1.0656, -0.4943, 0.2744]),
 DenseVector([-1.145, 0.9337, -0.8928, -0.6611]),
 DenseVector([-1.145, 0.9337, -0.9194, 0.1704]),
 DenseVector([0.869, 0.9337, -0.8928, -0.6611]),
 DenseVector([-1.145, 0.9337, 0.3293, -0.6611]),
 DenseVector([0.869, -1.0656, -0.5208, -0.6611]),
 DenseVector([0.869, -1.0656, -0.4943, 0.2744]),
 DenseVector([-1.145, 0.9337, -0.4146, -0.2453]),
 DenseVector([0.869, 0.9337, -1.1053, -0.6611]),
 DenseVector([0.869, -1.0656, -0.4677, 1.4177]),
 DenseVector([-1.145, 0.9337, -0.5208, -0.6611]),
 DenseVector([0.869, 0.9337, -0.4146, -0.2453]),
 DenseVector([0.869, 0.9337, -0.4146, -0.2453]),
 DenseVector([0.869, -1.0656, -0.3083, -1.9084]),
 DenseVector([0.869, 0.9337, -0.1755, 0.1704]),
 DenseVector([-1.145, 0.9337, -0.4677, 1.4177]),
 DenseVector([0.869, -1.0656, -0.574, -0.6611]),
 DenseVector([0.869, -1.0656, -0.8928, -0.6611]),
 DenseVector([0.869, -1.0656, 0.3293, 0.7941]),
 DenseVector([0.869, -1.0656, 0.3293, 0.7941]),
 DenseVector([-1.145, -1.0656, 0.2231, 3.0808]),
 DenseVector([0.869, -1.0656, -0.9459, -1.2848]),
 DenseVector([-1.145, 0.9337, 0.2231, 3.0808]),
 DenseVector([0.869, -1.0656, -0.1755, 0.1704]),
 DenseVector([-1.145, 0.9337, 0.3293, -0.6611]),
 DenseVector([-1.145, 0.9337, 0.3293, 0.7941]),
 DenseVector([0.869, -1.0656, -0.2552, 0.1704]),
 DenseVector([-1.145, 0.9337, -0.3614, 0.7941]),
 DenseVector([0.869, 0.9337, -0.3083, -1.9084]),
 DenseVector([-1.145, 0.9337, 0.3293, -0.6611]),
 DenseVector([0.869, -1.0656, -0.0958, 0.7941]),
 DenseVector([0.869, 0.9337, -0.2552, 0.1704]),
 DenseVector([0.869, -1.0656, -0.5208, -0.6611]),
 DenseVector([0.869, -1.0656, -0.4677, 1.4177]),
 DenseVector([-1.145, -1.0656, -0.0958, 0.7941]),
 DenseVector([-1.145, 0.9337, -0.5208, -0.6611]),
 DenseVector([0.869, -1.0656, -0.8131, -1.2848]),
 DenseVector([0.869, -1.0656, -0.3083, -1.9084]),
 DenseVector([-1.145, 0.9337, -0.0692, 1.8335]),
 DenseVector([-1.145, 0.9337, -0.3614, -0.2453]),
 DenseVector([-1.145, 0.9337, 0.3293, -0.6611]),
 DenseVector([0.869, 0.9337, -0.5208, -0.6611]),
 DenseVector([0.869, 0.9337, -0.3083, -1.9084]),
 DenseVector([0.869, -1.0656, 0.1965, -0.6611]),
 DenseVector([-1.145, 0.9337, 0.3293, -0.6611]),
 DenseVector([-1.145, 0.9337, -0.3614, 0.7941]),
 DenseVector([0.869, 0.9337, 0.1965, -0.6611]),
 DenseVector([-1.145, 0.9337, -0.0692, 1.8335]),
 DenseVector([-1.145, 0.9337, 0.1699, 0.2744]),
 DenseVector([0.869, -1.0656, -0.1755, -0.2453]),
 DenseVector([0.869, -1.0656, 0.1699, 0.2744]),
 DenseVector([0.869, 0.9337, -0.4146, 0.7941]),
 DenseVector([0.869, 0.9337, -0.1755, -0.2453]),
 DenseVector([-1.145, 0.9337, 1.0998, -0.2453]),
 DenseVector([-1.145, 0.9337, 1.0998, -0.2453]),
 DenseVector([0.869, -1.0656, 0.2762, 0.5862]),
 DenseVector([0.869, -1.0656, -0.0692, 1.4177]),
 DenseVector([-1.145, 0.9337, 1.0998, -0.2453]),
 DenseVector([0.869, -1.0656, -0.2286, -2.0124]),
 DenseVector([0.869, -1.0656, 0.1699, 0.7941]),
 DenseVector([0.869, 0.9337, 0.2762, 0.5862]),
 DenseVector([-1.145, 0.9337, 0.1965, -0.2453]),
 DenseVector([0.869, -1.0656, 1.2858, 0.1704]),
 DenseVector([0.869, -1.0656, 1.2858, 0.1704]),
 DenseVector([-1.145, 0.9337, -0.0692, 1.8335]),
 DenseVector([0.869, -1.0656, -0.9459, -1.2848]),
 DenseVector([0.869, 0.9337, -0.2286, -2.0124]),
 DenseVector([0.869, -1.0656, -0.0426, 0.7941]),
 DenseVector([0.869, 0.9337, 1.2858, 0.1704]),
 DenseVector([-1.145, 0.9337, 1.0998, -0.2453]),
 DenseVector([-1.145, 0.9337, 1.0998, -0.2453]),
 DenseVector([-1.145, 0.9337, 0.1699, 0.2744]),
 DenseVector([-1.145, -1.0656, 0.1699, 0.7941]),
 DenseVector([0.869, -1.0656, 0.1699, 0.2744]),
 DenseVector([0.869, -1.0656, -0.2286, -0.2453]),
 DenseVector([-1.145, 0.9337, 0.8341, 1.8335]),
 DenseVector([0.869, -1.0656, 1.3921, 0.1704]),
 DenseVector([0.869, 0.9337, 1.3921, 0.1704]),
 DenseVector([0.869, -1.0656, 0.2762, 0.5862]),
 DenseVector([-1.145, 0.9337, 1.5249, 0.1704]),
 DenseVector([-1.145, -1.0656, -0.0692, 1.4177]),
 DenseVector([-1.145, 0.9337, 0.1965, -0.2453]),
 DenseVector([-1.145, 0.9337, 1.3389, -0.2453]),
 DenseVector([-1.145, 0.9337, 1.8969, -0.2453]),
 DenseVector([0.869, 0.9337, 0.2762, 0.5862]),
 DenseVector([-1.145, 0.9337, 1.5249, 0.1704]),
 DenseVector([0.869, -1.0656, -0.1755, -0.2453]),
 DenseVector([0.869, 0.9337, -0.2286, -0.2453]),
 DenseVector([0.869, -1.0656, 0.2762, 0.5862]),
 DenseVector([0.869, -1.0656, -0.2286, -2.0124]),
 DenseVector([0.869, -1.0656, -0.0692, 1.4177]),
 DenseVector([0.869, 0.9337, -0.2286, -2.0124]),
 DenseVector([-1.145, 0.9337, 1.4983, 0.1704]),
 DenseVector([0.869, -1.0656, 0.3028, 0.7941]),
 DenseVector([-1.145, 0.9337, 0.3293, -0.6611]),
 DenseVector([0.869, -1.0656, 0.1699, 0.7941]),
 DenseVector([0.869, -1.0656, -0.2286, -2.0124]),
 DenseVector([0.869, -1.0656, 1.0201, 1.002]),
 DenseVector([-1.145, 0.9337, 1.4983, 0.7941]),
 DenseVector([0.869, -1.0656, 0.4356, -0.2453]),
 DenseVector([0.869, -1.0656, -0.8397, -1.9084]),
 DenseVector([-1.145, 0.9337, 1.4983, 0.1704]),
 DenseVector([0.869, -1.0656, 1.5515, -0.0375]),
 DenseVector([0.869, -1.0656, 1.4983, 0.7941]),
 DenseVector([0.869, 0.9337, 0.1699, 0.7941]),
 DenseVector([0.869, 0.9337, 1.5515, -0.0375]),
 DenseVector([0.869, -1.0656, 1.4983, 0.3783]),
 DenseVector([-1.145, 0.9337, 2.5611, 0.1704]),
 DenseVector([-1.145, -1.0656, 0.4622, -1.8045]),
 DenseVector([0.869, -1.0656, 0.4622, -1.8045]),
 DenseVector([0.869, -1.0656, 0.8076, 0.7941]),
 DenseVector([-1.145, 0.9337, 1.0467, 0.7941]),
 DenseVector([0.869, -1.0656, 0.0637, -0.6611]),
 DenseVector([0.869, -1.0656, 0.2762, 0.5862]),
 DenseVector([0.869, -1.0656, 0.967, 0.7941]),
 DenseVector([0.869, -1.0656, 0.4622, -1.8045]),
 DenseVector([0.869, -1.0656, 0.5153, -1.5966]),
 DenseVector([-1.145, 0.9337, 0.5153, -1.5966]),
 DenseVector([0.869, 0.9337, 0.5153, -1.5966]),
 DenseVector([0.869, -1.0656, 2.0828, 0.5862]),
 DenseVector([0.869, -1.0656, 0.5153, -1.5966]),
 DenseVector([0.869, -1.0656, 1.9234, -0.7651]),
 DenseVector([-1.145, 0.9337, 2.747, 1.6256]),
 DenseVector([-1.145, 0.9337, 2.747, 1.6256]),
 DenseVector([0.869, -1.0656, 1.3655, -0.7651]),
 DenseVector([-1.145, 0.9337, 1.3655, -0.7651]),
 DenseVector([0.869, -1.0656, 1.9234, -0.7651]),
 DenseVector([-1.145, -1.0656, 4.2083, -0.2453]),
 DenseVector([0.869, -1.0656, 2.0828, 0.5862]),
 DenseVector([-1.145, 0.9337, 2.747, 1.6256]),
 DenseVector([0.869, -1.0656, 2.136, -1.2848]),
 DenseVector([-1.145, -1.0656, 2.0828, 0.5862]),
 DenseVector([-1.145, 0.9337, 2.136, -1.2848])]

In [38]:
# Criando um Spark Dataframe
autoRows = csAuto.map(lambda f:Row(features = f))
autoDf = spSession.createDataFrame(autoRows)
autoDf.select("features").show(10)

+--------------------+
|            features|
+--------------------+
|[-1.1449709581789...|
|[-1.1449709581789...|
|[-1.1449709581789...|
|[-1.1449709581789...|
|[-1.1449709581789...|
|[-1.1449709581789...|
|[-1.1449709581789...|
|[-1.1449709581789...|
|[-1.1449709581789...|
|[-1.1449709581789...|
+--------------------+
only showing top 10 rows

In [ ]:
# Importando o algoritmo K-Means para clusterização
from pyspark.ml.clustering import KMeans
kmeans = KMeans(k = 3, seed = 1)
modelo = kmeans.fit(autoDf)
previsoes = modelo.transform(autoDf)
previsoes.show()

In [ ]:
# Plot dos resultados
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline

In [ ]:
def unstripData(instr) :
    return ( instr["prediction"], instr["features"][0], instr["features"][1],instr["features"][2],instr["features"][3])

In [ ]:
# Organizando os dados para o Plot
unstripped = previsoes.rdd.map(unstripData)
predList = unstripped.collect()
predPd = pd.DataFrame(predList)

In [ ]:
plt.cla()
plt.scatter(predPd[3], predPd[4], c = predPd[0])

## Spark SQL e Arquivos JSON

Neste site você pode validar a estrutura de um arquivo JSON: http://jsonlint.com/

In [ ]:
# Importando o arquivo JSON
funcDF = spSession.read.json("funcionarios.json")

In [ ]:
funcDF.show()

In [ ]:
funcDF.printSchema()

In [ ]:
type(funcDF)

In [ ]:
# Operações com Dataframe Spark SQL - select()
funcDF.select("nome").show()

In [ ]:
# Operações com Dataframe Spark SQL - filter()
funcDF.filter(funcDF["idade"] == 50).show()

In [ ]:
# Operações com Dataframe Spark SQL - groupBy()
funcDF.groupBy("sexo").count().show()

In [ ]:
# Operações com Dataframe Spark SQL - groupBy()
funcDF.groupBy("deptid").agg({"salario": "avg", "idade": "max"}).show()

In [ ]:
# Registrando o dataframe como uma Temp Table
funcDF.registerTempTable("funcTB")

In [ ]:
# Executando queries SQL ANSI
spSession.sql("select deptid, max(idade), avg(salario) from funcTB group by deptid").show()

## Temp Tables

In [ ]:
# Registrando o dataframe como temp Table
funcDF.createOrReplaceTempView("funcTB")

In [ ]:
spSession.sql("select * from funcTB where salario = 6700").show()

In [ ]:
# Criando Temp Table
sqlContext.registerDataFrameAsTable(funcDF, "funcTB2")

In [ ]:
type(funcTB2)

In [ ]:
# Persistindo a Temp Table 
funcTB3 = spSession.table("funcTB2")

In [ ]:
type(funcTB3)

In [ ]:
# Comparando o Dataframe com a tabela temporária criada
sorted(funcDF.collect()) == sorted(funcTB3.collect())

In [ ]:
# Aplicando o filtro
sqlContext.registerDataFrameAsTable(funcDF, "funcTB2")
funcTB3 = spSession.table("funcTB2")
funcTB3.filter("idade = '42'").first()

In [ ]:
# Drop Temp Table
sqlContext.dropTempTable("funcTB2")

## Banco de Dados Relacional

Extraindo Dados do MySQL. Primeiro precisamos baixar o driver JDBC. Haverá um driver JDBC para cada banco de dados que você conectar (Oracle, SQL Server, etc...)

1- Download do Driver JDBC para o MySQL: http://dev.mysql.com/downloads/connector/j/

2- Baixar o arquivo .zip

3- Descompactar o arquivo e copiar o arquivo mysql-connector-java-5.1.39-bin.jar para a pasta /opt/Spark/jars

In [ ]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [ ]:
mysql_df = spSession.read.format("jdbc").options(
    url = "jdbc:mysql://localhost/carros",
    driver = "com.mysql.jdbc.Driver",
    dbtable = "carrostb",
    user = "root",
    password = "dsa1234").load()

In [ ]:
mysql_df.show()

In [ ]:
dataframe_mysql.registerTempTable("carrostb")

In [ ]:
spSession.sql("select * from carrostb where hp = '68'").show()

## Banco de Dados Não-Relacional

https://spark-packages.org/package/Stratio/spark-mongodb

$SPARK_HOME/bin/pyspark --packages com.stratio.datasource:spark-mongodb_2.11:0.12.0

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [ ]:
# Cria tabela temporária a partir de dados do MongoDB
spark.sql("CREATE TEMPORARY VIEW test_tb USING com.stratio.datasource.mongodb OPTIONS (host 'localhost:27017', database 'test_db', collection 'test_collection')")

In [ ]:
# select na tabela temporária criada
spark.sql("SELECT * FROM test_tb").collect()

In [ ]:
# DataFrameReader
df = spark.read.format('com.stratio.datasource.mongodb').options(host='localhost:27017', database = 'test_db', collection = 'test_collection').load()

In [ ]:
df.show()

In [ ]:
# DataFrameWriter
df.select("titulo").write.format("com.stratio.datasource.mongodb").mode('overwrite').options(host = 'localhost:27017', database = 'test_db', collection = 'test_collection').save()

In [ ]:
# DataFrameReader
dfView = spark.read.format('com.stratio.datasource.mongodb').options(host='localhost:27017', database='test_db', collection='test_collection').load()

In [ ]:
dfView.show()

# Fim